/*Code for every page */

body
{
  background-color: white;
  color: black;
}

h1
{
  font-size: 50px;
  color: #462255;
}

/*NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #462255;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
  background-color: #FFA69E;
  color: #AA4465;
}

li a:active
{
  background-color: #FFA69E;
  color: #AA4465;
}

.active {
  background-color: #FFA69E;
  color: #AA4465;
}

/* NOT SURE WHAT THIS IS YET*/
.right {
    float: right;
}

.center {
    text-align: center;
}

/* This code is for the footer */
.footer
{
  padding: 20px;
  text-align: center;
background-color: #462255;
  margin-top: 20px;
}

.footer a
{
  text-decoration: none;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* END OF FOOTER */


/*HOME.PHP*/

.header
{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/*this is for the php code gallary*/

.photo
  {
    width: 30%;
    float: left;
    margin: 10px;
    background: #fff;
    /*padding: 20px;*/
    box-sizing: border-box;
  }

  .photo img
  {
    width: 100%;
    height: auto;

  }

  .fa {
  padding: 15px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


  .fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*app promotion section*/

.container
{
  text-align: center;
  padding: 15px;
}
.left-div
{
     display: inline-block;
     max-width: 300px;
     vertical-align: top;
     background-color: #93E1D8;
}
.right-div
{
     display: inline-block;
     max-width: 300px;
     background-color: #93E1D8;
}

/*SHOP.PHP*/

/* grid seperation for shop items*/
.shop-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*CHANGED TO FR to keep columns from being manipulated by content inside*/
  /*  background-color: aqua;*/
    padding: 10px;
    margin: auto;
    max-width: 100%; /*ADDED to stop overflow*/
    box-sizing: border-box;
    grid-gap: 2px;
}

.shop-grid-item-filter {
    background-color: #93E1D8;
  /*  border: 1px solid blue; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.shop-grid-item-main {
    background-color: #93E1D8;
  /*   border: 1px solid blue; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
}

.actual-item {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    min-height: 100px;
    min-width: 200px;
    margin:10px;
}

.item-content {
    padding: 2px;
}

.item-content p {
    color: blue;
    text-transform: uppercase;
    font-size: 16px;
}

.item-content img {
    width: 90%;
    height: auto;
    padding: 5px;
}
/* END OF SHOPPING CONTAINER FOR SHOP.PHP */

.deals-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    width: 200px;
    margin: auto;
}

.deals-grid-item {
    background-color: gray;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/*ABOUTUS.PHP*/

/*EVENTS.PHP*/


.outer-div
{
  padding: 30px;
}

.outer-div img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   height:auto;
   padding: 5px;
}

.inner-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
  background-color: #93E1D8;
  border-radius: 3px;
}

.inner-div p
{
  padding: 5px;
}


/*SHOPPINGCART.PHP*/

/*LOGIN.PHP*/

/*REGISTER.PHP*/
