/*Code for every page */

/*NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* NOT SURE WHAT THIS IS YET*/
.right {
    float: right;
}

.center {
    text-align: center;
}

/* This code is for the footer */
.footer
{
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.foot-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    width: 500px;
    margin: auto;
}

.foot-grid-item {
    background-color: gray;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/*HOME.PHP*/

/*this is for the php code gallary*/
.photo
  {
    width: 30%;
    float: left;
    margin: 10px;
    background: #fff;
    /*padding: 20px;*/
    box-sizing: border-box;
  }

  .photo img
  {
    width: 100%;
    height: auto;

  }

/*app promotion section*/

.container
{
  text-align: center;
  padding: 15px;
}
.left-div
{
     display: inline-block;
     max-width: 300px;
     vertical-align: top;
     background-color: grey;
}
.right-div
{
     display: inline-block;
     max-width: 300px;
     background-color: grey;
}

/*SHOP.PHP*/

/* grid seperation for shop items*/
.shop-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*CHANGED TO FR to keep columns from being manipulated by content inside*/
    background-color: aqua;
    padding: 10px;
    margin: auto;
    max-width: 100%; /*ADDED to stop overflow*/
    box-sizing: border-box;
    grid-gap: 2px; 
}

.shop-grid-item-filter {
    background-color: gray;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.shop-grid-item-main {
    background-color: gray;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
}

.actual-item {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    min-height: 100px;
    min-width: 200px;
    margin:10px;
}

.item-content {
    padding: 2px;
}

.item-content p {
    color: blue;
    text-transform: uppercase;
    font-size: 16px;
}

.item-content img {
    width: 90%;
    height: auto;
    padding: 5px;
}
/* END OF SHOPPING CONTAINER FOR SHOP.PHP */

.deals-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    width: 200px;
    margin: auto;
}

.deals-grid-item {
    background-color: gray;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/*ABOUTUS.PHP*/

/*EVENTS.PHP*/

/*SHOPPINGCART.PHP*/

/*LOGIN.PHP*/

/*REGISTER.PHP*/
