/*Code for every page */

body
{
  background-color: white;
  color: black;
}

h1
{
  font-size: 50px;
  color: #462255;
}

/***** ADDED BY SS, feel free to change this to whatever color/styling you like.*/
h2 {
    font-size: 35px;
    color: #5a5a66;
}
/****** END OF ADD */



/*NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #462255;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
  background-color: #FFA69E;
  color: #AA4465;
}

li a:active
{
  background-color: #FFA69E;
  color: #AA4465;
}

.active {
  background-color: #FFA69E;
  color: #AA4465;
}

/* NOT SURE WHAT THIS IS YET*/
.right {
    float: right;
}

.center {
    text-align: center;
}

/* This code is for the footer */
.footer
{
  padding: 20px;
  text-align: center;
background-color: #462255;
  margin-top: 20px;
}

.footer a
{
  text-decoration: none;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* END OF FOOTER */


/*HOME.PHP*/

.header
{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/*this is for the php code gallary*/

.photo
  {
    width: 30%;
    float: left;
    margin: 10px;
    background: #fff;
    /*padding: 20px;*/
    box-sizing: border-box;
  }

  .photo img
  {
    width: 100%;
    height: auto;

  }

  .fa {
  padding: 15px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


  .fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*app promotion section*/

.container
{
  text-align: center;
  padding: 15px;
}
.left-div
{
     display: inline-block;
     max-width: 300px;
     vertical-align: top;
     background-color: #93E1D8;
}
.right-div
{
     display: inline-block;
     max-width: 300px;
     background-color: #93E1D8;
}


/****** LAST EDITED 10:00PM 11/29 FOR FILTER BUTTONS, STILL NEEDS WORK & USES JAVASCRIPT FILE: filter.js */
/*SHOP.PHP*/
/* main shop.php wrapper-container:*/
.shop-container {
    text-align: center;
    max-width: 100%;
    padding: 15px;
}    

/* grid seperation for shop items*/
.shop-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*CHANGED TO FR to keep columns from being manipulated by content inside*/
  /*  background-color: aqua;*/
    padding: 10px;
    margin: auto;
    max-width: 100%; /*ADDED to stop overflow*/
    box-sizing: border-box;
    grid-gap: 2px;
}
.shop-grid-container h1 .center{
}
#shop-grid-item-filter {
    background-color: #93E1D8;
  /*  border: 1px solid blue; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}
#shop-grid-item-main {
    background-color: #93E1D8;
  /*   border: 1px solid blue; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
    overflow: hidden;
}
.actualItem {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    min-height: 100px;
    min-width: 200px;
    margin:10px;
    background: #462255;
    display: none; /*hidden by default until sort button is selected*/
}
.actualItem:hover {
    background: #FFA69E;
    color: #AA4465;
}
.item-content {
    padding: 2px;
}
.item-content p {
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: 16px;
}
.item-content img {
    width: 90%;
    height: auto;
    padding: 5px;
}

/* filter/sort by divs and styling for shop.php */
#filterContainer{
    text-align: center;
    display: inline-block; 
}
.show { /*added to filtered elements*/
    display: inline-block;
}
.sortbtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    color: #ffffff;
    display: block;
    margin: 10px;
    background: #462255; 
}
.sortbtn:active {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    color: #AA4465;
    display: block;
    margin: 10px;
    background: #FFA69E; 
}
.sortbtn:hover {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    color: #AA4465;
    display: block;
    margin: 10px;
    background: #FFA69E; 
}
/* END OF SHOPPING CONTAINER FOR SHOP.PHP */

.deals-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    width: 200px;
    margin: auto;
}

.deals-grid-item {
    background-color: gray;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/******* EDITED 11/29 */
/*ABOUTUS.PHP*/
#hero-container {
    text-align: center;
    max-width: 100%;
    padding: 30px;
}
.hero-size-wrapper {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
.hero-img {
    /******* CHANGE OUT PLACEHOLDER IMAGE WITH REAL IMAGE */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("chain-close-up-display-1036857.jpg");
    max-width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px;
}
.hero-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}
.hero-img h1 {
    color: white;
    size: 40px;
    padding: 10px;
}
.hero-img p {
    color: white;
    padding: 10px;
}
#about-container {
    text-align: center;
    max-width: 100%;
    padding: 30px;
}
#about-container h2 {
    color: #462255;
}
#about-container p {
    color: #462255;
}
.about-threenested {
    padding: 20px;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.about-threenested div {
    border: 1px solid #93E1D8;
    border-radius: 3px;
    padding: 20px;
    margin: 0px;
}
.about-inner {
    padding: 10px;
    display: block;
}
.about-inner h3 {
    color: #462255;
}
.about-inner img {
    background: #93E1D8;;
    border-radius: 50px;
}
/* END OF ABOUTUS.PHP */


/*EVENTS.PHP*/

.outer-div
{
  padding: 30px;
}

.outer-div img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   height:auto;
   padding: 5px;
}

.inner-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
  background-color: #93E1D8;
  border-radius: 3px;
}

.inner-div p
{
  padding: 5px;
}


/*SHOPPINGCART.PHP*/

/*LOGIN.PHP*/

/*REGISTER.PHP*/

